.fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  -moz-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}
.fade.in {
  opacity: 1;
}

.linkie {
  color: black;
  opacity: 0.8;
  padding-top: 25px;
}

.linkie:hover {
  opacity: 0.6;
}

.heading {
  color: black;
  opacity: 0.8;
  letter-spacing: 2px;
}

.noob-name {
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2px;
  color: black;
  opacity: 0.9;
}

.noob-name:hover {
  opacity: 0.6;
  text-decoration: none;
}
.assassin,
.noob {
  cursor: pointer;
}

.noob {
  color: forestgreen;
  padding-right: 20px;
}

.assassin {
  color: midnightblue;
}

.noob:hover,
.assassin:hover {
  opacity: 0.5
}

.points-lg {
  font-size: 40px;
}

.points-sm {
  font-size: 20px;
  padding-left: 10px;
}
